apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: {{ .Values.backendImage.repository }}:{{ .Values.backendImage.tag }}
        imagePullPolicy: {{ .Values.backendImage.pullPolicy }}
        ports:
        - containerPort: {{ .Values.backendService.containerPort }}
      restartPolicy: {{ .Values.backendImage.restartPolicy }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.backendService.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: {{ .Values.backendService.port }}
    targetPort: {{ .Values.backendService.targetPort }}
  type: ClusterIP
